.navbar{
-fx-background-color:linear-gradient(to bottom right , #21965a 0%, #00b2c2 100%);
}

.close,.add,.save,.clear,.delete,.refresh,.print{
 -fx-background-color:linear-gradient(to bottom right , #21965a 0%, #00b2c2 100%);
-fx-background-radius:3px;
-fx-cursor:hand;
-fx-text-fill:#fff;
}

.navbutton{
 -fx-background-color: transparent;
 -fx-background-radius: 15px;
 -fx-border-color: #fff;
 -fx-border-radius: 15px;
 -fx-border-width: 1px;
-fx-cursor:hand;
-fx-alignment:CENTER-LEFT;
}

.navbutton:hover{
 -fx-background-color:linear-gradient(to bottom right , #21965a 0%, #00b2c2 100%);
}

.dasboard_box{
 -fx-background-color:linear-gradient(to bottom right , #21965a 0%, #00b2c2 100%);
-fx-background-radius:30px;
}


/* Billing Pane */
.table-view{
-fx-background-color:transparent;
-fx-border-color:linear-gradient(to bottom right , #2f466b, #662d60);
-fx-border-radius:8px;
-fx-padding:0px
}

.table-view .table-column{
-fx-alignment:CENTER;
}
.table-view .column-header-background{
 -fx-background-color:linear-gradient(to bottom right , #21965a 0%, #00b2c2 100%);
-fx-background-insets:0 0 0 0;
-fx-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header,.filter{
-fx-background-color:transparent;
-fx-size:40;
}

.table-view .column-header .label{
 -fx-text-fill:#fff;
 -fx-font-family:"Arial"
}

.textfield{
-fx-background-color:linear-gradient(to bottom,#efefef,#eee);
-fx-border-color:linear-gradient(to bottom right, #2f466b, #662d60);
-fx-border-width:.8px;
-fx-font-family:"Tahoma";
-fx-border-radius:4px;
}

.textfield:focused{
-fx-border-width:1.8px;
-fx-background-color:#fff;
}

.search-billing{
-fx-background-color:transparent;
-fx-border-color:linear-gradient(to bottom right, #2f466b, #662d60);
-fx-border-radius:4px;
-fx-font-size:13px;
-fx-font-family:"Arial";
-fx-border-width:1px;
-fx-padding: 0px 0px 0px 28px;
}

.search-billing:focused{
-fx-border-width:2px;
}



